<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: black;">Codewar Leaderboard</h1>
        <div class="d-flex">
            <button class="btn btn-success">Add User</button>
        </div>
    </div>
</nav>