
<body>
<div class="wrapper">
    <div class="lboard_section">
        <div class="tabs">
            <ul>
               <li data-li="user">User</li>
               <li class="active" data-li="clan">Clan</li>
               <li data-li="Honor">Honor</li> 
            </ul>
        </div>
    </div>
    <div class="lboard_wrap">
        <div class="lboard_item user">
            <div class="lboard_mem">
                <div class="img">
                    <img src="assets/dav.jpg" alt="picture_1">
                </div>
                <div class="name_bar">
                    <p><span>1.</span> David</p>
                    <div class="bar_wrap">
                        <div class="inner_bar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="ponits">195 points</div>
            </div>
            <div class="lboard_mem">
                <div class="img">
                    <img src="assets/lily.jpg" alt="picture_2">
                </div>
                <div class="name_bar">
                    <p><span>2.</span> Linda</p>
                    <div class="bar_wrap">
                        <div class="inner_bar" style="width: 40%"></div>
                    </div>
                </div>
                <div class="ponits">194 points</div>
            </div>
            <div class="lboard_mem">
                <div class="img">
                    <img src="assets/kon.jpg" alt="picture_3">
                </div>
                <div class="name_bar">
                    <p><span>3.</span> Zion</p>
                    <div class="bar_wrap">
                        <div class="inner_bar" style="width: 30%"></div>
                    </div>
                </div>
                <div class="ponits">194 points</div>
            </div>
            <div class="lboard_mem">
                <div class="img">
                    <img src="assets/jas.jpg" alt="picture_4">
                </div>
                <div class="name_bar">
                    <p><span>4.</span> Jasmine</p>
                    <div class="bar_wrap">
                        <div class="inner_bar" style="width: 10%"></div>
                    </div>
                </div>
                <div class="ponits">194 points</div>
            </div>
        </div>
        <div class="lboard_item Clan">
            Clan
        </div>
        <div class="lboard_item Honor">
            Honor
        </div>
    </div>
</div>

</body>