body{
    background:#9ecae0;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.lboard_section{
    width: 500px;
    height: 400px;
    margin: 100px auto 0;
    border-radius: 25px 40px;
    position: relative;
}
.lboard_section ul{
    display: flex;

}
.lboard_section ul li{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #3a3d51;
    cursor: pointer;
}
.lboard_section ul li:hover,
.lboard_section ul li:active{
    color: #fff;
}
.lboard_wrap{
    position: absolute;
    top: 70px;
    left: 40px;
}

.lboard_wrap .lboard_mem .img{
    width: 50px;
}
.lboard_section .lboard_mem .img img{
    display: b;
    width: 100%;
}