
<select>
    <option value="1">Choose a language</option>
    <option value="2">C</option>
    <option value="3">Clojure</option>
    <option value="4">CoffeeScript</option>
    <option value="5">Crystal</option>
    <option value="6">C#</option>
    <option value="7">Elixir</option>
    <option value="8">F#</option>
    <option value="9">Groovy</option>
    <option value="10">Haskell</option>
    <option value="11">Java</option>
    <option value="12">JavaScript</option>
    <option value="13">Julia (Beta)</option>
    <option value="14">Nim (Beta)</option>
    <option value="15">PHP</option>
    <option value="16">Prolog (Beta)</option>
    <option value="17">Python</option>
    <option value="18">R (Beta)</option>
    <option value="19">Ruby</option>
    <option value="20">Rust</option>
    <option value="21">Scala</option>
    <option value="22">TypeScript</option>

</select>